{%  extends 'SpsBundle::layout.html.twig' %}

{% block main_opis %}	


<a href="{{ path('SpsBundle_base_rejon', { 'id': rejon.id}) }}">

<h2> {{ rejon.nazwa }} </h2> </a>{% endblock %}
{% block body %}
{{ render (controller('SpsBundle:Map:show',{'id' : rejon.id })) }}
	
<h2> Dodaj nową przelacznice do wezla: </h2>
<table class=greenTable>

<tr>
	<td> Zmienna </td>
	<td> Wartosc </td>
</tr>

<form action="{{ path('SpsBundle_add_object_to_rejon_post',
							  	{'id': rejon.id,
                         'type': 'panel'})}}"
							 	method="post"  {{ form_enctype(form) }}>
						
						<tr>
							<td>ID</td>
							<td>{{ nextid }}</td>
						</tr>
						<tr>
						
							<td>Object type</td>
							<td> 	
									wezel
 						  </td>
 						</tr>
 						
 						<tr>
						
							<td>Wezel</td>
							<td> 	
								
    							{{ form_errors(form.wezel) }}
 							   {{ form_widget(form.wezel) }}
 						  </td>
 						</tr>
 						<tr>
						
							<td>Rodzaj przlaczycy</td>
							<td> 	
    							{{ form_errors(form.j) }}
 							   {{ form_widget(form.j) }}
 						  </td>
 						</tr>
						
 						<tr>
						
							<td>KOD</td>
							<td> 	
								
    							{{ form_errors(form.kod) }}
 							   {{ form_widget(form.kod) }}
 						  </td>
 						</tr>
 						<tr>
						
							<td>Opis</td>
							<td> 	
								
    							{{ form_errors(form.opis) }}
 							   {{ form_widget(form.opis) }}
 						  </td>
 						</tr>	
 	
 						<tr>	
 							<td> Standard</td>   
 							  	<td> 	
								
    							{{ form_errors(form.standard) }}
 							   {{ form_widget(form.standard) }} 
 							   
 							   </td>
 						</tr> 	   
 						 	
    				
							
							
						
							<td>    {{ form_widget(form.rejon,{value : rejon.id}) }}   	</td>
					 	
    						
    					
							<td class="printblock">  <input type="submit" value="Dodaj" /> </td>
							{{ form_row(form._token) }}
							</td>
						</form>
</tr>

</table>
{% endblock %}