{% extends 'SpsBundle::layout.html.twig' %} {% block title %} {%
endblock %}


{% block main_opis %}	<h2> {{ rejon.nazwa }} >> {{ wlokna.0.id.id_mufa }} </h2> {% endblock %}

{% block body %}



<article>
<h3>Mapa :</h3>
{{   render (controller('SpsBundle:Map:showKabel',{
					'mufa' : wlokna.0.id.id_mufa,
					'kabel': kabel.id
		
})) }}
<h3>Włókna :</h3>
	<table class="greenTable">
		
		<tr>
			<td> Przebieg wlokna</td>
			<td>KABEL</td>
			<td> id </td>
			<td>STAUS</td>
			<td> id </td>
			<td>KABEL</td>
			<td> Przebieg wlokna</td>
		</tr>
			{% for wlokno in wlokna %}

		
	
		<tr>
		{% if wlokno.id.kod is defined %}
			<td> <a href="{{ path('SpsBundle_base_rejon_fiber',
	                        { 'id': rejon.id,
	                         'id_mufa': wlokno.id.id_mufa,
										'id_w':   wlokno.id.id_w	}
	                )}}"><---</a>
	      </td>
			<td>
				<font size="2">
					{{ wlokno.id.producent }} 
					{{ wlokno.id.j }}x{{ wlokno.id.tubs }}
					({{ wlokno.id.standard }})
				 </font>
				 {% if side =='end' %}
					 <a href="{{ path('SpsBundle_base_rejon_kabelStart',
	                        { 'id': rejon.id,
	                         'id_kabel': kabel.id,
										'id_mufa':   wlokno.id.mufa_end	}
	                )}}">
	           {% else %} 
                 <a href="{{ path('SpsBundle_base_rejon_kabelEnd',
	                        { 'id': rejon.id,
	                         'id_kabel': kabel.id,
										'id_mufa':   wlokno.id.mufa_end	}
	                )}}">
                
              {% endif %}
				 {{ wlokno.id.mufa_end | get_mufa_name}} </a> -->
				 {{wlokno.id.id_mufa}}
				-{{ wlokno.id.kod}} 
			</td>
			
			<td>
				{{wlokno.id.w_pos}}-
				 <font color= {{wlokno.id.color}}>
					 {{wlokno.id.color_n}}
			 	</font> 
			 	<font size=1>(
			 		{{wlokno.id.id_w}}) 
			 	</font>
			 </td>
		   {%  else %}	
				<td>  </td>
				<td>  </td>
				<td>  </td>
				
			
			
			{% endif %}
		
			<td>
				{% if wlokno.id_spaw.kod is not defined %}
					<font color=green>	WOLNE </font>
				{% else %}
					<font color=red>	SPAW </font>
				{% endif %}
			</td>
			
			
			{% if wlokno.id_spaw.kod is defined %}
			   <td>
			   	{{wlokno.id_spaw.w_pos}}-
			   	<font color= {{wlokno.id_spaw.color}}>
						{{wlokno.id_spaw.color_n}}
			 		</font> 
			   	<font size=1>(
			   		{{wlokno.id_spaw.id_w}}) 
			   	</font>
			   </td>
				
				
				{% if wlokno.id_spaw.kod != wlokno.id.kod %}
					<td>{{  wlokno.id_spaw.mufa_end | get_mufa_name}}
				{% else %}
					<td>{{ wlokno.id_spaw.id_mufa }} 
                	{{ wlokno.id_spaw.kod}}
				{% endif %}
				
				
					{% if side =='end' %}
						<---<a href="{{ path('SpsBundle_base_rejon_kabelStart',
                        { 'id': rejon.id,
                         'id_kabel': wlokno.id_spaw.id_k,
									'id_mufa':   wlokno.id_spaw.mufa_end	}	
                		)}}""> 
                	{% if wlokno.id_spaw.kod != wlokno.id.kod %}
                		{{ wlokno.id_spaw.id_mufa }} 
                		{{ wlokno.id_spaw.kod}}
                	{% else %}
                		{{  wlokno.id_spaw.mufa_end | get_mufa_name}}
                	
                	{% endif %}
               {% else %}
               		<---<a href="{{ path('SpsBundle_base_rejon_kabelEnd',
                        { 'id': rejon.id,
                         'id_kabel': wlokno.id_spaw.id_k,
								 'id_mufa':   wlokno.id_spaw.mufa_end	}	
                		)}}""> 
                		{% if wlokno.id_spaw.kod != wlokno.id.kod %}
                		{{ wlokno.id_spaw.id_mufa }} 
                		{{ wlokno.id_spaw.kod}}
                	{% else %}
                		{{  wlokno.id_spaw.mufa_end | get_mufa_name}}
                	
                	{% endif %}
                
               {%  endif %}
                </a>
                <font size="2">
					{{ wlokno.id_spaw.producent }} 
					{{ wlokno.id_spaw.j }}x{{ wlokno.id_spaw.tubs }}
					({{ wlokno.id_spaw.standard }})
				 </font>
            </td>
					
					<td> <a href="{{ path('SpsBundle_base_rejon_fiber',
	                        { 'id': rejon.id,
	                         'id_mufa': wlokno.id.id_mufa,
										'id_w':   wlokno.id_spaw.id_w	}
	                )}}">---></a>
			
				
		
			{%  else %}	
				<td>  </td>
				<td>  </td>
				<td>  </td>
				
			
			
			{% endif %}
			
			{% else %}
				
		  	{% endfor %}
		</tr>
	</table>

</article>

{% endblock %}