{% extends 'SpsBundle::layout.html.twig' %} {% block title %} {%
endblock %}


{% block main_opis %}	<h2> {{ rejon.nazwa }} >> {#{ wlokna.0.id.id_mufa }#} </h2> {% endblock %}

{% block body %}



<article>
<h3>Mapa :</h3>
{{   render (controller('SpsBundle:Map:showKabel',{
					'mufa' : wlokna.0.id_start_lewa,
					'kabel': kabel.id
		
})) }}
<h3>Włókna :</h3>
	<table class="greenTable">
		
		<tr>
			<td> Przebieg wlokna</td>
			<td>KABEL</td>
			<td> id </td>
			<td>STAUS</td>
			<td> id </td>
			<td>KABEL</td>
			<td> Przebieg wlokna</td>
		</tr>
			{% for wlokno in wlokna %}

		
	
		<tr>
		{% if wlokno.id_end_lewa is defined %}
			<td><a href=""><---</a></td>
			<td>
				<font size="2">
					
					{{ wlokno.j_end_lewa }}x{{ wlokno.tubs_end_lewa }}
					({#{ wlokno.id.standard }#})
				 </font>
				 {% if side =='end' %}
					 <a href="{{ path('SpsBundle_base_rejon_kabelStart',
	                        { 'id': rejon.id,
	                         'id_kabel': kabel.id,
										'id_mufa':   wlokno.id_end_lewa	}
	                )}}">
	           {% else %} 
                 <a href="{{ path('SpsBundle_base_rejon_kabelEnd',
	                        { 'id': rejon.id,
	                         'id_kabel': kabel.id,
										'id_mufa':   wlokno.id_end_lewa	}
	                )}}">
                
              {% endif %}
				 		{{ wlokno.id_end_lewa }}-{{ wlokno.kod_end_lewa }} 
				 	
				 		
				 	
				 	</a> -->
				 {{wlokno.id_start_lewa}}
				-{{ wlokno.kod_start_lewa}} 
			</td>
			
			<td> {{wlokno.id_w_lewa   }}</td>
		   {%  else %}	
				<td>  </td>
				<td>  </td>
				<td>  </td>
				
			
			
			{% endif %}
		
			<td>
				{% if wlokno.id_w_prawa is  null %}
					<font color=green>	WOLNE </font>
				{% else %}
					<font color=red>	SPAW </font>
				{% endif %}
			</td>
			
			
			{% if wlokno.id_w_prawa is not null %}
			   <td> {{ wlokno.id_w_prawa }} </td>
				<td> {{ wlokno.kod_start_prawa}}
				
					{% if side =='end' %}
						<---<a href="{{ path('SpsBundle_base_rejon_kabelStart',
                        { 'id': rejon.id,
                         'id_kabel': wlokno.id_kabel_prawa,
									'id_mufa':   wlokno.id_end_prawa	}	
                		)}}"> 
            
               {% else %}
               		<---<a href="{{ path('SpsBundle_base_rejon_kabelEnd',
                        { 'id': rejon.id,
                        'id_kabel':3,	
								'id_mufa':   3	}	
                		)}}"> 
                	
               {%  endif %}
               
              		 {{ wlokno.id_end_prawa }} 
                	 {{ wlokno.kod_end_prawa }}
                	</a>
            </td>
					<td><a href="">--></a></td>
			
				
		
			{%  else %}	
				<td>  </td>
				<td>  </td>
				<td>  </td>
				
			
			
			{% endif %}
			
	
				
	{% endfor %}
		</tr>
	</table>

</article>

{% endblock %}